html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Document
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/style.min.css")
			
	body
		include ../_layout/_header.pug

		main.site-content
			block content
		
		include ../_layout/_footer.pug
	
	script(src='js/libs.min.js')
	script(src='js/common.js')